body {
  overflow: hidden !important;
}

canvas {
  image-rendering: optimizeSpeed !important;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges !important;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast !important; /* Safari                        */
  image-rendering: -o-crisp-edges !important;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated !important;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor !important;
  cursor: crosshair;
}

.navbar-lewagon {
    z-index: 10;
}

#stage {
  height:100vh;
  width:100vw;
}

// #reset-zoom {
// position:fixed;
// margin: 30px;
// bottom: 0;
// left: 0;
// }

// The secret life of arabia.
.speen {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
