<div id="stage">
  <canvas id="grid" height="<%= @grid.height %>" , width="<%= @grid.width %>" data-placements="<%= @grid.placements.to_json %>" data-pixel-size="<%= @grid.pixel_size %>"></canvas>
</div>
