
<div id="stage">
<canvas id="grid" height="<%= @grid.height %>", width="<%= @grid.width %>" data-pixel-bits="<%= @grid.pixel_bits %>"></canvas>
</div>


<!-- <button id="reset-zoom" class="btn btn-primary" onclick="stage.style.transform = 'matrix(0.85, 0, 0, 0.85, 525, 15)'">Reset View</button> -->
<div class="cols-container">
  <div id="white"></div>
  <div id="dkgrey"></div>
  <div id="red"></div>
  <div id="blue"></div>
  <div id="green"></div>
  <div id="brown"></div>
  <div id="purple"></div>
  <div id="ltgrey"></div>
  <div id="ltgreen"></div>
  <div id="ltblue"></div>
  <div id="cyan"></div>
  <div id="orange"></div>
  <div id="yellow"></div>
  <div id="tan"></div>
  <div id="pink"></div>
  <div id="black"></div>
</div>
