<div id="chatbox">

  <div id="groups">
    <h4>Groups:</h4>
    <ul>
      <% @grid.group_chats.each do |group| %>
        <a href="" class="group" data-id="<%= group.id %>"><%= group.name %></a>
      <% end %>
    </ul>
  </div>

  <ul id ="messages">
    <% @grid.group_chats.first.messages.each do |message| %>
      <li><%= "#{message.user.email}: #{message.content}" %></li>
    <% end %>
  </ul>
</div>
