$g-white: rgba(255, 255, 255, 1);
$g-dkgrey: rgba(87, 87, 87, 1);
$g-red: rgba(173, 35, 35, 1);
$g-blue: rgba(42, 75, 215, 1);
$g-green: rgba(29, 105, 20, 1);
$g-brown: rgba(129, 74, 25, 1);
$g-purple: rgba(129, 38, 192, 1);
$g-ltgrey: rgba(160, 160, 160, 1);
$g-ltgreen: rgba(129, 197, 122, 1);
$g-ltblue: rgba(157, 175, 255, 1);
$g-cyan: rgba(41, 208, 208, 1);
$g-orange: rgba(255, 146, 51, 1);
$g-yellow: rgba(255, 238, 51, 1);
$g-tan: rgba(233, 222, 187, 1);
$g-pink: rgba(255, 205, 243, 1);
$g-black: rgba(0, 0, 0, 1);
