.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
#dashboard {
  margin: 0px 20px 0px 20px;
}

.nav-link {
    color: #333 !important;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.navbar {
  border-bottom: 1px lightgray solid;
}

#logoular {
  height:50px;
  width:auto;
}
